{{#> layout title="Blog" current="blog"}}
    {{#each blog_items}}
        <h2>
            <a href="/blog/{{seo_name}}">{{title}}</a>
        </h2>
        <small>{{date}}</small>
        <p>
            {{markdown summary}}
        </p>
    {{/each}}
{{/layout}}