{% extends "layout.html" %}
{% block content %}
<h1>Welcome</h1>
<p>
    We're here to help you make your project a success. Trangar helps you flesh out your ideas to put them on paper, or implement them in working code.
</p>
<p>
We have experiences with a very diverse platform range. Some projects include phone apps, websites, high-performance services and even down to embedded firmware. Ranging from well-known programming languages like <a href="https://dotnet.microsoft.com/" target="_blank">C#.NET</a> and <a href="https://www.typescriptlang.org/" target="_blank">Typescript</a>, to lesser known languages like <a href="https://kotlinlang.org/" target="_blank">Kotlin</a> and <a href="https://rust-lang.org" target="_blank">Rust</a>.
</p>
<p>
    The programming language is always up to you. Every situation calls for a different solution, and non-project requirements are also important. Do you have some in-house knowledge on a specific language? Then it makes sense to do the project in that language as well. This way, you're never dependent and will always have options in the future.
</p>
{% endblock content %}


