{% extends "layout.html" %}
{% block content %}
<h2>CoolerBot</h2>
<p>
    <a href="https://www.coolermaster.com/">CoolerMaster</a> wanted to increase their customer engagement.
    As their customers were mostly gamers, CoolerMaster approached Trangar to talk about the possibilities of creating a chatbot on <a href="https://discord.com">Discord</a>, a platform used by gamers to chat with each other.
    The project resulted in 3 different portals, aimed at the different users of the system, as well as a standalone application that handled the interaction with Discord.
</p>
<p>You can check out the bot in <a href="">CoolerMaster's Discord channel</a>.</p>
{% endblock %}

