<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="./static/resume.css" rel="stylesheet">

	<title>Trangar.com - Resume</title>
</head>

<body>
	<div class="container">
		<div class="resume_container">
			<div class="left">
				<h1>Victor Koenders</h1>
				<h3>Software Developer</h3>
				<div class="vertical-spacing"></div>
				<h2>Personal Info</h2>
				<table>
					<tr>
						<td>
							<img src="static/github-8-32.png" alt="Github" />
						</td>
						<td>
							<a href="https://github.com/victorkoenders" target="_blank">/victorkoenders</a><br />
							<a href="https://github.com/trangar" target="_blank">/trangar</a><br />
						</td>
					</tr>
					<tr>
						<td>
							<img src="static/linkedin-3-32.png" alt="Linkedin" />
						</td>
						<td>
							<a href="https://linkedin.com/in/victorkoenders" target="_blank">/in/victorkoenders</a>
						</td>
					</tr>
					<tr>
						<td>
							<img src="static/mail-32.png" alt="Mail" />
						</td>
						<td>
							<a href="mailto:resume@trangar.com">resume@trangar.com</a>
						</td>
					</tr>
				</table>

				<div class="vertical-spacing"></div>

				<h2>Skills</h2>
				<dl>
					<dt>Rust</dt>
					<dd>
						<a href="https://docs.rs/tide">Actix</a>,
						<a href="https://docs.rs/actix-web">Actix</a>,
						<a href="https://docs.rs/sqlx">Sqlx</a>,
						<a href="https://docs.rs/diesel">Diesel</a>,
						<a href="https://docs.rs/async-std">async-std</a>,
						and much more
					</dd>
					<dt>C#</dt>
					<dd>
						<a href="https://docs.microsoft.com/en-us/ef/">Entity Framework</a>,
						<a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET MVC</a>,
						<a href="https://www.devexpress.com/">DevExpress</a>,
						<a href="https://www.newtonsoft.com/json">Newtonsoft JSON</a>,
						and much more
					</dd>
					<dt>JavaScript/TypeScript</dt>
					<dd>
						<a href="https://reactjs.org">React 1.0</a>,
						<a href="https://angularjs.org/">Angular</a>,
						<a href="https://knockoutjs.com/">Knockout</a>,
						<a href="https://jquery.com/">JQuery</a>,
						and much more
					</dd>
					<dt>C/C++</dt>
					<dd>
						<a href="https://www.qt.io/">Qt</a>,
						<a href="https://www.libsdl.org/">SDL</a>,
						<a href="https://www.sfml-dev.org/">SFML</a>,
						<a href="https://www.sqlite.org/index.html">SQLite</a>,
						<a href="https://www.postgresql.org/docs/9.1/libpq.html">PostgreSQL</a>,
						and much more
					</dd>
				</dl>
			</div>
			<div class="right">
				<p>
					Passionate professional software developer with strong communication skills and the ability to learn
					quickly. Able to communicate
					requirements with both technical and non-technical stakeholders. Committed to high-quality, reusable
					code and user experiences
					that will stand the test of time. Experienced with many different types of products, including
					embedded
					firmware, web
					applications, desktop applications and phone apps.
				</p>
				<h2>Experience</h2>
				<table class="text_table">
					<tr>
						<td class="vertical-cell">
							<p class="start">Current</p>
							<p class="middle"></p>
							<p class="end">May&nbsp;2018</p>
						</td>
						<td>
							<h3>Trangar</h3>
							<p style="margin-bottom: 0">
								Self-employed doing a variety of projects for customers. Major projects:
							</p>
							<ul>
								<li>2018-2021: Developed and maintained C++ Qt applications designed to run on android
									and ios.</li>
								<li>2020: Developed a Kotlin Android application from start to finish.</li>
								<li>2022: Helped develop a byzantine fault tolerant networking application</li>
							</ul>
							<p>
								<a href="http://www.trangar.com/" target="_blank">www.trangar.com</a>
							</p>
						</td>
					</tr>
					<tr>
						<td class="vertical-cell">
							<p class="start">May&nbsp;2018</p>
							<p class="middle"></p>
							<p class="end">April&nbsp;2015</p>
						</td>
						<td>
							<p class="pull-right">Maasdijk, Netherlands</p>
							<h3>HortiMaX</h3>
							<p>
								Wide range of projects with the primary goal of supporting customer requests and
								expanding
								our product line. Projects included
								iOS apps, C firmware, communicating with foreign interfaces (web APIs, CSV, Serial) and
								a
								central C# server to tie
								it all together. Also introduced, advised and configured automated builds with the help
								of
								Jenkins.
							</p>
							<p>
								<a href="http://www.hortimax.com/" target="_blank">www.hortimax.com</a>
							</p>
						</td>
					</tr>
					<tr>
						<td class="vertical-cell">
							<p class="start">February&nbsp;2015</p>
							<p class="middle"></p>
							<p class="end">February&nbsp;2014</p>
						</td>
						<td>
							<p class="pull-right">Pijnacker, Netherlands</p>
							<h3>YourSoft</h3>
							<p>
								Development on a product designed to support health companies and governmental
								instances.
								Responsible for the design and
								development of several internal tools, including an SQL query builder for consultants.
							</p>
							<p>
								<a href="http://www.yoursoft.nl/" target="_blank">www.yoursoft.nl</a>
							</p>
						</td>
					</tr>
					<tr>
						<td class="vertical-cell">
							<p class="start">December&nbsp;2013</p>
							<p class="middle"></p>
							<p class="end">August&nbsp;2011</p>
						</td>
						<td>
							<p class="pull-right">Zeist, Netherlands</p>
							<h3>Iddiz</h3>
							<p>
								Internship with the intent of making an in-house tool that generates code to simplify
								the
								development cycle. Also worked
								on customer-facing software for a local bank, which included PDF generation and creating
								connectors for foreign APIs.
							</p>
							<p>
								<a href="http://www.iddiz.com/" target="_blank">www.iddiz.com</a>
							</p>
						</td>
					</tr>
				</table>
				<h2>Education</h2>
				<table class="text_table">
					<tr>
						<td class="vertical-cell">
							<p class="start">June&nbsp;2014</p>
							<p class="middle"></p>
							<p class="end">September&nbsp;2009</p>
						</td>
						<td>
							<p class="pull-right">Hogeschool Utrecht, Utrecht, Netherlands</p>
							<h3>Computer Science</h3>
							<p>
								Main courses included Java programming, Project management, Software patterns and
								designs,
								and Databases
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>

</html>